.login-pf body {
  background: none;
}

html.login-pf {
  background-color: #040507;
  background-image: url('../img/bg.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.kc-logo-text {
  display: none;
}

.card-pf {
  background: none;

  backdrop-filter: grayscale(0.8) brightness(1.5) blur(30px);
  -webkit-backdrop-filter: grayscale(0.8) brightness(1.5) blur(30px);

  color: #fff;
}

.card-pf {
  background-color: rgba(150, 150, 150, .9);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .card-pf {
    background-color: transparent;
    backdrop-filter: grayscale(0.8) brightness(1.5) blur(20px);
    -webkit-backdrop-filter: grayscale(0.8) brightness(1.5) blur(20px);
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.kc-social-gray {
  color: #fff;
}

.kc-social-item {
  background-color: #009596;
}

#kc-content {
  padding-bottom: 65px;
}

#kc-page-title {
  display: none;
}

#kc-header {
  display: none
}

.login-pf-page {
  padding-top: 10vh;
}

.login-pf-header {
  height: 100px;
  background-image: url('../img/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
